<!-- Portfolio Section -->
<section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters d-flex justify-content-center mx-auto">

        
        <div class="col-11 text-center mt-5" id={{include.id}}>
            <!-- <a class="portfolio-box" href="img/portfolio/1.PNG" data-source="http://resume.williamhong.page/" data-desc="Independently created 2019. Bootstrap CSS, javascript (jQuery)" title="Resume"> -->
              <a href={{include.url}}>
                <img class="img-fluid mx-auto" src={{include.imgURL}} alt={{include.id}}>
              </a> 
  <!--             <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  Personal Project
                </div>
                <div class="project-name">
                  Resume
                </div>
              </div>
            </a> -->
              <div class="text-white-50 mt-2 mb-3 mx-auto caption">
                <b> {{include.caption}} </b> <br> 
                <i> {{include.projectType}} </i> <br>
                {{include.technology}}
              </div>
              <a class="btn btn-dark btn-xl" href={{include.url}} target="_blank">Visit</a>
          </div>


      </div>
    </div>
  </section>