  <!-- Footer -->
  <footer class="bg-dark text-white py-5 mt-2">
    <div class="container">
      <!-- <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Lorem ipsum dolor.</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, earum.</p>
        </div>
      </div> -->
      <div class="row mb-5">
        <div class="col-3 ml-auto text-center">
          <a href="https://github.com/williamOP"><i class="fab fa-github fa-3x mb-3 text-muted"></i></a>
        </div>
        <div class="col-3 mr-auto text-center">
          <a href="http://resume.williamhong.page/"><i class="far fa-file fa-3x mb-3 text-muted"></i></a>
        </div>
      </div>
    </div>
      <div class="small text-center text-muted">William Hong</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script> -->

  <!-- Custom scripts for this template -->
  <script src="js/creative.js"></script>

</body>

</html>